

// .productList {
//   width: 80%;
//   display: flex;
//   flex-wrap: wrap;
  
//   flex-flow: row wrap;
// }



.container {
  width: 1160px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.filters {
  width: 20%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.products {
  width: 80%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}